<ion-header>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Usuários"
      type="text"
      (ionChange)="searchNames($event)"
      style="width: 100%;"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group *ngFor="let item of listinks">
      <ion-item (click)="select(item)">
        <ion-label>{{item.gsx$nome.$t}}</ion-label>
        <ion-radio slot="start" [value]="item.gsx$link.$t"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
