<ion-content>
  <div
    style="
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
    "
  >
    <img
      src="../../../assets/img/grandesPlanos.jpeg"
      alt="Grandes Planos"
      style="width: 350px"
    />
    <ion-card style="width: 350px; height: 300px">
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">E-mail</ion-label>
          <ion-input
            type="email"
            placeholder="E-mail"
            [(ngModel)]="userLogin.email"
            required="true"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Senha</ion-label>
          <ion-input
            type="password"
            placeholder="Senha"
            [(ngModel)]="userLogin.password"
            required="true"
          ></ion-input>
        </ion-item>

        <ion-button (click)="validateUser()" expand="block" color="success">
          Autenticar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
