<ion-header style="margin-top: 20px;">
  <ion-item>
    <ion-label>Seja bem vindo <strong>{{userData.name}}</strong></ion-label>
    <ion-icon (click)="resetLogin()" name="log-out-outline" color="medium">
    </ion-icon>
  </ion-item>
  <ion-toolbar style="margin-top: 5px">
    <ion-searchbar
      (input)="search($event)"
      mode="ios"
      slot="start"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        sizeSm="12"
        sizeMd="8"
        sizeLg="6"
        sizeXl="4"
        style="margin: 0 auto"
      >
        <ion-button
          expand="block"
          color="primary"
          (click)="goPage('/pages/register-organization', null)"
          fill="clear"
        >
          <ion-icon
            style="
              margin: 0px;
              margin-right: 10px;
              font-size: xx-large !important;
            "
            name="add"
            slot="start"
          >
          </ion-icon
          >Adicionar Organização
        </ion-button>

        <ion-list style="padding-top: 0px" lines="none">
          <ion-card style="padding: 0px" *ngFor="let item of listOrganization">
            <ion-card-content>
              <p style="display: flex; align-items: center">
                Corporação: <strong>{{item._corporateName}}</strong>
                <ion-icon
                  name="pencil-outline"
                  (click)="editRegister(item)"
                  color="dark"
                  style="font-size: 25px; margin-left: 5px"
                >
                </ion-icon>
              </p>

              <ion-grid style="margin-top: 10px">
                <ion-row>
                  <ion-col size="6">
                    <ion-button
                      href="{{item._linkRegister}}"
                      style="width: 100%; height: 50px"
                      disabled="{{!item._linkRegister}}"
                    >
                      <ion-icon name="add" style="font-size: 37px"></ion-icon>
                    </ion-button>
                    <p style="text-align: center">Cadastrar</p>
                  </ion-col>

                  <ion-col size="6">
                    <ion-button
                      href="https://www.grandesplanos.com.br"
                      style="width: 100%; height: 50px"
                      color="secondary"
                    >
                      <ion-icon
                        name="laptop-outline"
                        style="font-size: 37px"
                      ></ion-icon>
                    </ion-button>
                    <p style="text-align: center">Grandes Planos</p>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="6">
                    <ion-button
                      href="{{item._linkSales}}"
                      style="width: 100%; height: 50px"
                      color="success"
                      disabled="{{!item._linkSales}}"
                    >
                      <ion-icon
                        name="logo-usd"
                        style="font-size: 37px"
                      ></ion-icon>
                    </ion-button>
                    <p style="text-align: center">Tanque de Vendas</p>
                  </ion-col>

                  <ion-col size="6">
                    <ion-button
                      href="https://www.youtube.com/channel/UCBzh_sR8QNUQ7N1Nr4kTbmQ?view_as=public"
                      style="width: 100%; height: 50px"
                      color="danger"
                    >
                      <ion-icon
                        name="logo-youtube"
                        style="font-size: 37px"
                      ></ion-icon>
                    </ion-button>
                    <p style="text-align: center">Youtube</p>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="6">
                    <ion-button
                      href="{{item._linkForecast}}"
                      style="width: 100%; height: 50px"
                      color="tertiary"
                      disabled="{{!item._linkForecast}}"
                    >
                      <ion-icon
                        name="stats-chart-outline"
                        style="font-size: 37px"
                      ></ion-icon>
                    </ion-button>
                    <p style="text-align: center">Forecast</p>
                  </ion-col>

                  <!-- <ion-col size="6">
                    <ion-button
                      href="{{item._linkChange}}"
                      style="width: 100%; height: 50px"
                      color="dark"
                      disabled="{{!item._linkChange}}"
                    >
                      <ion-icon
                        name="pencil-outline"
                        style="font-size: 37px"
                      ></ion-icon>
                    </ion-button>
                    <p style="text-align: center">Alterar</p>
                  </ion-col> -->
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
