<ion-header>
  <ion-toolbar>
    <ion-title>users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-grid>
    <ion-row>
      <ion-col size="12" sizeSm="12" sizeMd="8" sizeLg="6" sizeXl="4" style="margin: 0 auto;">
        <ion-button expand="block" color="primary" (click)="goPage('/page/register-user', null)" fill="clear">
          <ion-icon style="margin: 0px;margin-right: 10px;font-size: xx-large !important;" name="add" slot="start">
          </ion-icon>{{ 'Label.newUser' | translate }}
        </ion-button>
        <ion-list style="padding-top: 0px;" lines="none">
          <ion-card style="padding: 0px;" *ngFor="let item of userList" (click)="editRegister(item)">
            <ion-card-content>
              <img style="margin: 0 auto; width: 50%;" src="assets/imgs/semImagem.jpg" />
              <p><b>{{ 'Label.email' | translate }}: </b>{{item._email}}</p>
              <p><b>{{ 'Label.name' | translate }}: </b>{{item._name}}</p>
              <p><b>{{ 'Global.profile' | translate }}: </b>{{item._profile._description}}</p>
              <p><b>{{ 'Label.status' | translate }}: </b>{{item._status}} </p>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
